@import "reset.css";

body {
   display: flex  ;
   flex-direction: column;
   align-items: center;
   margin-top: 7.5%;
}

.sign-up-form {
   border: 1px dashed rgb(129, 10, 30);
   display: flex;
   flex-direction: column;
}

.sign-up-form__logo {
   display: block;
   max-width: 160px;
   max-height: 160px;
   align-self: center;
}

.sign-up-form__title {
   align-self: center;
}

.sign-up-form__input-group {
   margin: 25px 0 0 0;
   position: relative;
}

.sign-up-form__input-text {
   width: 350px;
   height: 50px;
   border-radius: 10px;
   border: 1px solid black;
}

.sign-up-form__input-group-label {
   position: absolute;
   display: block;
   margin: 0 0 5px 0;
   top: -10px;
   left: 6px;
   background-color: white;
   padding: 0 2px;
}

.sign-up-form__sign-up-btn {
   width: 350px;
   height: 50px;
   margin: 40px 0 0 0;
   border-radius: 10px;
}