[submodule "Servers/Cpp/ThirdParty/GoogleTest"]
	path = Servers/Cpp/ThirdParty/GoogleTest
	url = https://github.com/google/googletest.git
[submodule "Servers/Cpp/ThirdParty/PvsCMakeModule"]
	path = Servers/Cpp/ThirdParty/PvsCMakeModule
	url = https://github.com/viva64/pvs-studio-cmake-module.git
